/* ANIMATED BUTTON STYLES */
.add-btn {
    position: relative;
    background: #111;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-btn:hover {
    background: #512da8;
}

.add-btn.added {
    background: #27ae60;
    pointer-events: none;
}

.check-icon {
    display: none;
    transform: scale(0);
}

.add-btn.added .cart-icon {
    display: none;
}

.add-btn.added .check-icon {
    display: inline-block;
    transform: scale(1);
    animation: popIn 0.3s;
}

@keyframes popIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}